

.faq {
    width: 100%;
}

.titulo {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    position: absolute;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.perguntas {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    width: 100%;
    position: absolute;
    margin-top: 16%;
    flex-direction: column;
    align-items: center;
}

details {
    margin-bottom: 3%;
    width: 37%;
    height: 10%;
    border-radius: 5px;
    padding: 10px;
    border: 0.1em solid;
    stroke: #0000 ;
    border-color: black 1px solid;
}

.conteudo {
    color: #6a6a6a;
    text-align: center;
}
