@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


body {
    margin: 0;
    background-color: #f0f0f0;
}

button {
    cursor: pointer;
}
/* Começo do header */
.header {
    position: fixed;
    background-color: #f0f0f0;
    width: 100%;
    height: 125px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    
}

.header a {
    text-decoration: none;
    color: #151515;
    overflow-y: hidden;

}

.header img {
    margin-top: 20%;
    width: 100%;
    height: 62%;
}

.container {
    width: 90%;
    margin-left: 5%;
    display: flex;
}

.navBar {
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-left: 30%;    
}

.header .botoes {
    width: 35%;
    display: flex;
    margin-top: 3%;
    margin-bottom: 1%;
    justify-content: space-around;
}

#botaoLogin {
    width: 40%;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border-radius: 50px;
    border: 0;
    background-color: #6A6A6A;
    color: #fff;
    margin-left: 10%;
}

#botaoCadastro {
    width: 40%;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border-radius: 50px;
    border: 0;
    background-color: #151515;
    color: #fff;


}
/* Fim do header */

.perfil {
    width: 100%;
}

.boasVindas {
    display: flex;
    margin-left: 80%;
}

.boasVindas p {
    margin-top: 25%;
    font-family: 'Cookie', cursive;
    font-size: 25px;
    letter-spacing: 3px;
}

.perfil a {
    text-decoration: underline; 
    display: flex; 
    margin-top: 29%; 
    margin-left: 15%; 
    font-size: 10px;
}