
* {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}


.pedido {
    display: flex;
    justify-content: end;
    width: 90.2%;
    height: 100%;
    margin-top: 13%;
}

.pedido button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #393939;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin-bottom: 10%;
    
}

.pedido button:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(249, 83, 255);
}


.conteudo {
    width: 100%;
    height: 100%;
}

.fileira {
    display: flex;
    justify-content: center;
    gap: 7%;
}

.post {
    width: 22%;
    height: 420px;
    color: #393939;
    border: 0.1em solid;
    stroke: #0000 ;
    border-radius: 15px;
    margin-bottom: 5%;
}

.imagem {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}

.post img {
    width: 90%;
    height: 340px;
    border-radius: 10px;
}

.post p {
    font-family: 'Roboto Mono', monospace;
    margin-left: 10%;
    margin-top: 6%;
}

.flex {
    display: flex;
}

.botao {
  width: 24%;
  height: 30px;
  margin-top: 6%;
  margin-left: 35%;

}

.botao button {
  width: 100%; 
  display: flex; 
  flex-direction: row;
  padding-left: 7px;
  padding-top: 4px;
  border-radius: 5px;
}

.botao button:hover {
  border: 2px solid rgb(133, 133, 133);

}


#numero, #numero2, #numero3, #numero4, #numero5, #numero6, #numero7, #numero8, #numero9 {
  margin-left: 8%;
  padding-right: 3px;
}

.botao img {
  width: 15px; 
  height: 15px;
}