@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
/* Início da página descrevendo o que é lettering */
.descricao {
    width: 55%;
    /* height: 100%; */
    margin-left: 10%;
    margin-top: 10%;
}
.descricao .titulo {
    font-family: 'Great Vibes', cursive;
}

.descricao p {
    font-weight: 300;
}
.titulo h1 {
    font-size: 122px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 0;
}

.titulo h3 {
    font-size: 45px;
    font-weight: 100;
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
} 

.descricao p {
    font-size: 25px;
    margin-left: 2%;

}
/* Fim da página descrevendo o que é lettering */


/* Início da página com os tipos de lettering */
.tipos {
    margin-top: 9%;
    width: 100%;
}

.tipos h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

.tipos h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    font-weight: 100;
    color: #fff;
    margin-top: 0;
    padding-top: 2%;
    margin-left: 3%;
}

.tipos p {
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
    font-weight: 100;
}

.tipos img {
    position: absolute;
    z-index: -100;
    gap: 10%;
}

.text {
    display: flex;
}
.banner1 p {
    padding-bottom: 4%;
    margin-top: 1%;
}
.banner2 img {
    margin-left: 33%;
}
.banner2 .text {
    margin-left: 37%;
}
.banner2 h3 {
    width: 30%;
    padding-top: 3.5%;
}
.banner2 span {
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
}
.banner2 p {
    width: 75%;
    margin-left: 0;
    margin-right: 7%;
    padding-bottom: 8%;
}
.banner3 h3 {
    margin-top: 0.5%;
}
.banner3 p {
    margin-top: 1.5%;
}
/* Fim da página com os tipos de lettering */